[%- DEFAULT
	title = 'Catalyst入門'
	keyword = 'Catalyst, Perl, MVC, フレームワーク'
	descript = 'Catalystを使ったアプリケーション開発の基礎を解説'
-%]
<html>
<head>
<title>[% title %]</title>
<meta name="keywords" content="[% keyword %]" />
<meta name="description" content="[% descript %]" />
</head>
<body>
...中略...
</body>
</html>
