<form method="POST">
  <p>
    <label for="isbn">ISBNコード：</label><br />
    <input type="text" name="isbn" size="20" />
  </p>
  <p>
    <label for="title">書名：</label><br />
    <input type="text" name="title" size="50" />
  </p>
  <p>
    <label for="price">価格：</label><br />
    <input type="text" name="price" size="5" />円
  </p>
  <p>
    <label for="publish">出版社：</label><br />
    <input type="text" name="publish" size="15" />
  </p>
  <p>
    <label for="published">刊行日：</label><br />
    <input type="text" name="published" size="15" />
  </p>
  <p>
<!--
    <p>
    <label for="mail">メールアドレス：</label><br />
    <input type="text" name="mail" size="15" /><br />
    <label for="mail_confirm">メールアドレス（確認）：</label><br />
    <input type="text" name="mail_confirm" size="15" />
  </p>
-->
    <input type="submit" value="登録" />
  </p>
</form>
[% PROCESS err_msgs.tt %]