[% 3612.158 | format('%.2f') -%] <br />
[% 3612.158 | format('%05d') %] <br />
[% FILTER format('<p>%s</p>') -%]
Catalystは、Perl言語で書かれたアプリケーションフレームワークです。専用の開発サーバが用意されているので、専用のHttpサーバがなくても実行できます。
Template Toolkitは、Catalystで利用できる代表的なテンプレートエンジンです。
[%- END %]
